@** Define a classe de modelo de dados da página *@
@model Agenda.Presentation.Models.AccountPasswordModel

@{
    // definição da página de layout
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="text-center">
    <h3>Esqueci minha senha</h3>
    <p>Preencha o formulário para recuperar sua senha.</p>
    <hr />
</div>

@using(Html.BeginForm())
{
    <div class="mb-2">
        <label>Email de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="mb-2">
        <div class="d-grid">
            <input type="submit" class="btn btn-success" value="Recuperar Senha" />
        </div>
    </div>

    <div class="mb-2">
        <div class="d-grid">
            <a href="/Account/Login" class="btn btn-primary">
                Já possui conta? <strong>Acesse aqui!</strong>
            </a>
        </div>
    </div>

    <div class="mb-2">
        <div class="text-center">
            <strong>
                @TempData["Mensagem"]
            </strong>
        </div>
    </div>

}
