@** Definir a classe de modelo de dados da página *@
@model Agenda.Presentation.Models.ContatosRelatorioModel

@{
    ViewData["Title"] = "Relatorio";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4>Relatório de Contatos</h4>
        <p>Selecione o formato do relatório desejado.</p>
        <hr />

        @using(Html.BeginForm())
        {
            <div class="mb-3">
                <label>Formato do relatório: </label> <br/>
                @Html.RadioButtonFor(model => model.Formato, "pdf") <span>Documento PDF</span>
                &nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Formato, "excel") <span>Planilha Excel</span>
                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.Formato)
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Gerar Relatório" class="btn btn-success" />
            </div>
        }

    </div>
</div>
